html {
  font-size: 10px;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-bar {
  width: 100%;
  font-family: Montserrat;
  background-color: #212E37;
  color: #fff;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  position: fixed;
  z-index: 500;

}

#logo-box .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2.9rem;
}

/*.search{*/
/*  padding-top: 10.5rem;*/
/*  padding-bottom: 1rem;*/
/*}*/

.dashboard{
  padding-top: 10.5rem;
  padding-bottom: 1rem;
}

.searchRow{

}

.root{
  max-width: 24rem
}
.media{
  height: 16rem
}

.cardx{
  float: left;
  position: center;
}

.test{
  float: left;
  margin: 5px;
}


.formControl{
 width: 14rem;

}

.country-details{
  padding-top: 10.5rem;
}


.media-details{
  width: 400px;
  height: 250px;
}



.country-details-text{
  width: 70rem;
  height: 250px;
}
